@charset "UTF-8";
@import "../font/fonts.css";
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #303030;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "PP Neue Montreal", serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
.container {
  max-width: 1312px;
  width: 100%;
}

body {
  overflow-x: hidden;
}

:root {
  --blue: #5E7FF4;
  --black: #464441;
  --gray: rgba(255, 255, 255, 0.60);
}

.btn-blue {
  border-radius: 99px;
  background: #5E7FF4;
  height: 40px;
  white-space: nowrap;
  backdrop-filter: blur(12px);
  padding: 0.9375rem 1.0625rem;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px; /* 100% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.btn-white {
  border-radius: 99px;
  background: #FFF;
  height: 40px;
  white-space: nowrap;
  backdrop-filter: blur(12px);
  padding: 15px 20px;
  color: #464441;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px; /* 100% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.heading {
  color: #FFF;
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.25rem;
  letter-spacing: -3.2px;
  text-transform: uppercase;
}
.modal-dialog .modal-content {
  border: 0;
  border-radius: 0;
}
@media (max-width: 576px) {
  .modal-dialog .modal-content {
    height: auto;
  }
}

.modal-menu .modal-dialog-menu {
  margin: 0;
  position: absolute;
  right: 0;
  max-width: 704px;
  width: 100%;
}
.modal-menu .modal-dialog-menu .modal-content {
  height: 546px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: unset;
}
.modal-menu .modal-dialog-menu .modal-content .modal-header {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem !important;
  height: 2.5rem !important;
  z-index: 1;
  background: rgba(70, 68, 65, 0.08);
  border-radius: 50%;
}
.modal-menu .modal-dialog-menu .modal-content .modal-header .btn-close {
  margin: 0;
  width: 0.5rem;
  height: 0.5rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-header .btn-close:focus {
  display: none;
}
.modal-menu .modal-dialog-menu .modal-content .modal-image {
  height: 100%;
  max-width: 357px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 40px 40px;
  display: flex;
  align-items: end;
}
.modal-menu .modal-dialog-menu .modal-content .modal-image h3 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%; /* 32px */
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.modal-menu .modal-dialog-menu .modal-content .modal-image .btn-modal-menu1 {
  max-width: 180px;
  width: 100%;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body {
  padding: 4rem 2.5rem 2.5rem 2.5rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .links a {
  display: block;
  color: rgba(70, 68, 65, 0.6);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .links a:last-child {
  margin-bottom: 0;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .links a.active {
  color: var(--black);
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .number-data {
  margin-top: 5.3125rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .number-data h3 {
  color: #464441;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  border-right: 1px solid rgba(70, 68, 65, 0.2);
  padding-right: 0.5rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .number-data h3 a {
  color: #464441;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .number-data h4 {
  padding-left: 0.5rem;
  color: rgba(70, 68, 65, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .buttons {
  display: block;
  margin-top: 1.5rem;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .buttons .btn-modal-menu2 {
  width: 100%;
}
.modal-menu .modal-dialog-menu .modal-content .modal-body .buttons .btn-modal-menu3 {
  width: 100%;
  border: 1px solid rgba(70, 68, 65, 0.2);
}

.modal-project .modal-dialog-project {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 968px;
}
.modal-project .modal-dialog-project .modal-content {
  height: 568px;
  width: 100%;
  display: flex;
  flex-direction: unset;
  position: relative;
}
.modal-project .modal-dialog-project .modal-content .modal-header {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem !important;
  height: 2.5rem !important;
  z-index: 1;
  background: rgba(70, 68, 65, 0.08);
  border-radius: 50%;
}
.modal-project .modal-dialog-project .modal-content .modal-header .btn-close {
  margin: 0;
  width: 0.5rem;
  height: 0.5rem;
}
.modal-project .modal-dialog-project .modal-content .modal-header .btn-close:focus {
  display: none;
}
.modal-project .modal-dialog-project .modal-content .modal-image {
  height: 100%;
  max-width: 480px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.modal-project .modal-dialog-project .modal-content .modal-body {
  padding: 2rem;
}
.modal-project .modal-dialog-project .modal-content .modal-body-head {
  color: #464441;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%; /* 24px */
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.modal-project .modal-dialog-project .modal-content .modal-body-title {
  color: rgba(45, 45, 44, 0.64);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  text-transform: uppercase;
}
.modal-project .modal-dialog-project .modal-content .modal-body .input-box {
  display: block;
  margin-top: 6rem;
}
.modal-project .modal-dialog-project .modal-content .modal-body .input-box input {
  display: block;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(70, 68, 65, 0.2);
  color: #2D2D2C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.modal-project .modal-dialog-project .modal-content .modal-body .input-box input:last-child {
  margin-bottom: 0;
}
.modal-project .modal-dialog-project .modal-content .modal-body .input-box input::placeholder {
  color: #2D2D2C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
}
.modal-project .modal-dialog-project .modal-content .modal-body .buttons {
  display: block;
  margin-top: 3rem;
}
.modal-project .modal-dialog-project .modal-content .modal-body .buttons .btn-modal-project {
  width: 100%;
}
.modal-project .modal-dialog-project .modal-content .modal-body-footer-title {
  color: rgba(45, 45, 44, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  margin-top: 1rem;
}

.modal-slider .modal-dialog-slider .slider-image {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.modal-slider .modal-dialog-slider .slider-image-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.modal-slider .modal-dialog-slider .slider-image-container .top-box {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal-slider .modal-dialog-slider .slider-image-container .top-box .modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem !important;
  height: 2.5rem !important;
  z-index: 1;
  background: #fff;
  border-radius: 50%;
}
.modal-slider .modal-dialog-slider .slider-image-container .top-box .modal-btn-close .btn-close {
  margin: 0;
  width: 0.5rem;
  height: 0.5rem;
}
.modal-slider .modal-dialog-slider .slider-image-container .top-box .modal-btn-close .btn-close:focus {
  display: none;
}
.modal-slider .modal-dialog-slider .slider-image-container .top-box h3 {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 18px; /* 100% */
  letter-spacing: 0.27px;
  text-transform: uppercase;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .button .footer-box-btn {
  font-weight: 700;
  color: #464441;
  font-size: 0.875rem;
  line-height: 1.125rem; /* 128.571% */
  text-transform: uppercase;
  padding: 11px 16px 8px 16px;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning {
  cursor: pointer;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning span {
  border: 1px solid #ECEFF3;
  background: rgba(236, 239, 243, 0.16);
  backdrop-filter: blur(2px);
  border-radius: 99px;
  width: 162px;
  height: 36px;
  position: relative;
  -webkit-transition: 0.3s background-color;
  transition: 0.2s background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning span i {
  color: #fff;
  position: relative;
  left: -20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
  letter-spacing: -0.42px;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning span:after {
  content: "Фото";
  width: 89px;
  height: calc(100% - 4px);
  border-radius: 22px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.2s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2px;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
  color: #464441;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning input {
  display: none;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning input:checked ~ span {
  content: "Планировка";
  color: #fff;
  padding-left: 20px;
  background: rgba(236, 239, 243, 0.16);
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning input:checked ~ span:after {
  font-size: 14px;
  display: flex;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  content: "3D";
  width: 68px;
  color: #464441;
  left: 88px;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .switch-planning input:checked ~ span:hover {
  background: rgba(236, 239, 243, 0.16);
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .count {
  transition: 0.3s;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .count span {
  color: #FFF;
  font-variant-numeric: ordinal;
  font-feature-settings: "dlig" on, "ss01" on, "liga" off;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .count samp {
  color: rgba(255, 255, 255, 0.6);
  font-variant-numeric: ordinal;
  font-feature-settings: "dlig" on, "ss01" on, "liga" off;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .slider-icon {
  transition: 0.3s;
}
.modal-slider .modal-dialog-slider .slider-image-container .footer-box .slider-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;
}
.menu-inner {
  transform: translateY(0);
  padding-top: 0;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 64px;
}
.menu-inner-box {
  display: flex;
  height: 64px;
}
.menu-inner-box .logo {
  margin-right: 2.5rem;
}
.menu-inner-box .logo .logo1 {
  position: relative;
  top: 28px;
}
.menu-inner-box .logo .logo2 {
  display: none;
}
.menu-inner-box .links a {
  transition: 0.3s;
  white-space: nowrap;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px; /* 150% */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-right: 1.25rem;
}
.menu-inner-box .links a:last-child {
  margin-right: 0;
}
.menu-inner-box .number a {
  transition: 0.3s;
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
}
.menu-inner-box .buttons button {
  transition: 0.3s linear;
}
.menu-inner-box .btn-menu {
  transition: 0.3s;
}
.menu-inner2 {
  position: absolute;
  transform: translateY(-200px);
  transition: 0.3s;
  width: 100%;
  left: 0;
  top: 20px;
}
.menu.nav--fixed {
  background: #fff;
}
.menu.nav--fixed .menu-inner {
  top: 0;
}
.menu.nav--fixed .menu-inner-box {
  align-items: center;
}
.menu.nav--fixed .menu-inner-box .logo .logo1 {
  display: none;
}
.menu.nav--fixed .menu-inner-box .logo .logo2 {
  display: initial;
}
.menu.nav--fixed .menu-inner-box .links a {
  color: rgba(70, 68, 65, 0.6);
}
.menu.nav--fixed .menu-inner-box .links a:hover {
  color: var(--black);
}
.menu.nav--fixed .menu-inner-box .links a.active {
  color: var(--black);
}
.menu.nav--fixed .menu-inner-box .number a {
  color: var(--black);
}
.menu.nav--fixed .menu-inner-box .buttons .btn-white-menu {
  border: 1px solid rgba(70, 68, 65, 0.2);
}
.menu.nav--fixed .menu-inner-box .btn-menu {
  background: var(--black);
  color: #fff;
}
.menu.nav--fixed .menu-inner-box .btn-menu .btn-menu-solid rect {
  fill: #fff;
}
.menu.nav-works {
  height: 80px;
}
.menu.nav-works .menu-inner {
  transform: translateY(-200px);
}
.menu.nav-works .menu-inner2 {
  transform: translateY(0);
}
.menu.nav-works .menu-inner2 .btn-inner2 {
  border: 1px solid rgba(70, 68, 65, 0.4);
  backdrop-filter: blur(12px);
}
.menu.nav-works .menu-inner2 .texts span {
  color: rgba(70, 68, 65, 0.6);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
}

.header {
  height: 100vh;
  position: relative;
}
.header-image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.header-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}
.header-info-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 24px;
}
.header-info-top h3 {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.header-info-top-buttons {
  display: flex;
}
.header-info-top-buttons button {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
  padding: 5px 8px 3px 8px;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.header-info-top-buttons button:active {
  background: #fff;
  color: #464441;
}
.header-info-top-buttons button.active {
  background: #fff;
  color: #464441;
}
.header-info-top .icon-phone {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: rgba(94, 127, 244, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-info-top .icon-phone div {
  width: 52px;
  height: 52px;
  background: #5E7FF4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-info-top .icon-phone div img {
  padding-top: -5px;
  width: 16px;
  height: 16px;
}
.header-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header-info-bottom h4 {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.your-dream {
  margin-top: 7.5rem;
  margin-bottom: 13.125rem;
}
.your-dream-inner-top {
  display: flex;
}
.your-dream-inner-top-box {
  width: calc((100% / 12) * 3 - 0rem);
}
.your-dream-inner-top-box p {
  color: #464441;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  max-width: 300px;
  width: 100%;
  padding-bottom: 0;
}
.your-dream-inner-bottom {
  display: flex;
  border-bottom: 1px solid #C6C6C6;
  margin-top: 5px;
}
.your-dream-inner-bottom-box {
  width: calc((100% / 12) * 3 - 0rem);
  position: relative;
}
.your-dream-inner-bottom-box .box-image {
  height: 267px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 48px;
}
.your-dream-inner-bottom-box .box-image .play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.your-dream-inner-bottom-box:nth-of-type(1) {
  position: relative;
}
.your-dream-inner-bottom-box:nth-of-type(1):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 205px;
  width: 1px;
  background: #C6C6C6;
}
.your-dream-inner-bottom-box:nth-of-type(2) {
  position: relative;
}
.your-dream-inner-bottom-box:nth-of-type(2):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 102px;
  width: 1px;
  background: #C6C6C6;
}
.your-dream-inner-bottom-box:nth-of-type(3) {
  position: relative;
  padding-right: 62px;
  padding-left: 66px;
}
.your-dream-inner-bottom-box:nth-of-type(3):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 256px;
  width: 1px;
  background: #C6C6C6;
}
.your-dream .bottom-text {
  color: rgba(70, 68, 65, 0.4);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.works-box .our-work {
  min-width: calc(100vw - 1000px);
}
.works-box .our-work-inner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.works-box .our-work-head-box-head1 {
  color: rgba(70, 68, 65, 0.16);
}
.works-box .our-work-head-box-head2 {
  color: #464441;
}
.works-box .our-work-texts {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 11rem;
}
.works-box .our-work-texts span {
  color: rgba(70, 68, 65, 0.6);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.works-box .works {
  min-width: 100vw;
}
.works-box .works-heading {
  color: #464441;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 11.5rem;
  opacity: 0;
}
.works-box .works-heading span {
  color: rgba(70, 68, 65, 0.16);
}
.works-box .works-heading2 {
  margin: 10rem 0;
}
.works-box .works-col-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.works-box .works-col-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works-box .works-col-box-text {
  position: absolute;
  top: -157px;
}
.works-box .works-col-box-text p {
  max-width: 280px;
  width: 100%;
  color: #464441;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem; /* 137.5% */
}
.works-box .works-col-box .plus {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #5E7FF4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.works-box .works-col-box .plus img {
  width: 24px;
  height: 24px;
}
.works-box .works-image-full {
  min-height: 80vh;
}
.works-box .works-image-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  background: linear-gradient(111deg, #464441 19.52%, #5E5B57 100%);
  padding: 7rem 0;
}
.services-box {
  width: 100%;
  height: 100%;
}
.services-box-title {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 450;
  line-height: 22px; /* 137.5% */
}
.services-box-footer-text p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
}
.services-box-accordion {
  background: transparent;
  --bs-accordion-bg: transparent;
}
.services-box-accordion .accordion-item {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.services-box-accordion .accordion-item .accordion-header .accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 23px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.services-box-accordion .accordion-item .accordion-header .accordion-button .btn-round {
  transition: 0.3s;
  transform: rotate(0);
}
.services-box-accordion .accordion-item .accordion-header .accordion-button .btn-round.active {
  transform: rotate(45deg);
  border: 1px solid #fff;
}
.services-box-accordion .accordion-item .accordion-header .accordion-button:after {
  display: none;
}
.services-box-accordion .accordion-item .accordion-header .accordion-button:focus {
  display: none;
}
.services-box-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.services-box-accordion .accordion-item .accordion-body {
  padding-left: 0;
}
.services-box-accordion .accordion-item .accordion-body ul {
  padding-left: 1.3rem;
}
.services-box-accordion .accordion-item .accordion-body ul li {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 0;
  font-size: 1rem;
  font-weight: 450;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.24px;
  margin-bottom: 20px;
}
.services-box-accordion .accordion-item .accordion-body ul li:last-child {
  margin-bottom: 0;
}

.engaged-business {
  margin-top: 8rem;
  margin-bottom: 14.875rem;
}
.engaged-business-inner-top {
  display: flex;
}
.engaged-business-inner-top-box {
  width: calc((100% / 12) * 3 - 0rem);
}
.engaged-business-inner-top-box p {
  color: #464441;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  max-width: 300px;
  width: 100%;
  padding-bottom: 0;
}
.engaged-business-inner-bottom {
  display: flex;
  border-bottom: 1px solid #C6C6C6;
  margin-top: 5px;
}
.engaged-business-inner-bottom-box {
  width: calc((100% / 12) * 3 - 0rem);
  position: relative;
}
.engaged-business-inner-bottom-box .box-image {
  height: 267px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 48px;
}
.engaged-business-inner-bottom-box:nth-of-type(1) {
  position: relative;
}
.engaged-business-inner-bottom-box:nth-of-type(1):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 205px;
  width: 1px;
  background: #C6C6C6;
}
.engaged-business-inner-bottom-box:nth-of-type(2) {
  position: relative;
  padding-right: 62px;
  padding-left: 66px;
}
.engaged-business-inner-bottom-box:nth-of-type(2):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 102px;
  width: 1px;
  background: #C6C6C6;
}
.engaged-business-inner-bottom-box:nth-of-type(3) {
  position: relative;
}
.engaged-business-inner-bottom-box:nth-of-type(3):after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 256px;
  width: 1px;
  background: #C6C6C6;
}
.engaged-business .bottom-text {
  color: rgba(70, 68, 65, 0.4);
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.steps {
  margin-bottom: 7rem;
}
.steps-title {
  color: #464441;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 22px; /* 137.5% */
  max-width: 320px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 30.5rem;
}
.steps-heading-1 {
  text-align: right;
  color: #464441;
  transform: translateX(470px);
}
.steps-heading-2 {
  color: rgba(70, 68, 65, 0.16);
  text-align: right;
  transform: translateX(310px);
}
.steps-bloc {
  margin-top: 5.625rem;
  opacity: 0;
}
.steps-bloc-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 152px;
  border-top: 1px solid #C6C6C6;
  padding-top: 1rem;
}
.steps-bloc-item .one-bloc {
  display: flex;
  justify-content: start;
  align-items: start;
}
.steps-bloc-item .one-bloc span {
  color: rgba(70, 68, 65, 0.6);
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-right: 3.625rem;
}
.steps-bloc-item .one-bloc .image {
  width: 192px;
}
.steps-bloc-item .one-bloc .image img {
  position: relative;
  top: -122px;
}
.steps-bloc-item .one-bloc h3 {
  color: #464441;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem; /* 120% */
  text-transform: uppercase;
  margin-left: 3.625rem;
}
.steps-bloc-item .two-bloc p {
  max-width: 480px;
  width: 100%;
  color: rgba(70, 68, 65, 0.6);
  text-align: right;
  font-size: 1rem;
  font-weight: 375;
  letter-spacing: 0.32px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#team #panels-container {
  background: linear-gradient(108deg, #304F35 0%, #397343 98.74%) !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
}

#team #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.team-image {
  position: absolute;
}
.team .image-left {
  left: 0;
  top: 0;
  width: 30vw;
}
.team .image-left .img2 {
  position: absolute;
  left: 40%;
  z-index: -1;
  top: 80%;
}
.team .image-left-bottom {
  left: 0;
  bottom: 0;
  width: 30vw;
}
.team .image-right {
  right: 0;
  top: 0;
  width: 30vw;
}
.team .image-right .img {
  position: absolute;
  right: 0;
}
.team .image-right-bottom {
  right: 0;
  bottom: 0;
  max-width: 40vw;
  width: 100%;
}
.team .image-right-bottom .title {
  position: relative;
  left: 50%;
  top: -185px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
  max-width: 244px;
  width: 100%;
}
.team .image-right-bottom .img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.team .image-right-bottom .img2 {
  position: absolute;
  bottom: 80px;
  left: 12%;
  z-index: -1;
}
.team .heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.map {
  min-height: 80vh;
  position: relative;
}
.map iframe {
  opacity: 0.6;
}
.map .container-map {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.map .container-map .wrapper {
  width: 100%;
  padding: 1rem;
  background: #fff;
  position: absolute;
  bottom: 4rem;
  z-index: 7;
  display: flex;
  justify-content: space-between;
}
.map .container-map .wrapper .box-image {
  display: flex;
  align-items: start;
}
.map .container-map .wrapper .box-image .title {
  margin-top: 1rem;
}
.map .container-map .wrapper .box-image .title h4 {
  color: #464441;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}
.map .container-map .wrapper .box-image .title .address {
  color: rgba(70, 68, 65, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}
.map .container-map .wrapper .box-image .title .time {
  display: flex;
  align-items: center;
  margin-top: 3.875rem;
}
.map .container-map .wrapper .box-image .title .time .number {
  color: #5E7FF4;
  font-size: 14px;
  font-feature-settings: "salt" on;
  font-weight: 500;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
}
.map .container-map .wrapper .box-image .title .time .times {
  color: #464441;
  font-size: 14px;
  font-weight: 500;
  font-feature-settings: "salt" on;
  line-height: 14px; /* 100% */
  text-transform: uppercase;
}
.map .container-map .wrapper .box {
  display: flex;
  align-items: center;
}
.map .container-map .wrapper .box-item {
  height: 100%;
  padding: 0 0 16px 16px;
  display: flex;
  justify-content: start;
  align-items: end;
}
.map .container-map .wrapper .box-item:nth-of-type(1) {
  background: #F3F4F4;
  width: 214px;
}
.map .container-map .wrapper .box-item:nth-of-type(1) .logo {
  width: 48px;
  height: 48px;
  background: rgba(70, 68, 65, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.map .container-map .wrapper .box-item:nth-of-type(2) {
  background: #5E7FF4;
  width: 214px;
}
.map .container-map .wrapper .box-item:nth-of-type(2) .logo {
  width: 48px;
  height: 48px;
  background: #5b78de;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.map .container-map .wrapper .box-item:nth-of-type(2) .text h4 {
  color: #FFF;
}
.map .container-map .wrapper .box-item:nth-of-type(2) .text span {
  color: rgba(255, 255, 255, 0.48);
}
.map .container-map .wrapper .box-item .logo {
  position: absolute;
  left: 0;
  top: 0;
}
.map .container-map .wrapper .box-item .text h4 {
  color: #464441;
  font-feature-settings: "salt" on;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
  margin: 0;
}
.map .container-map .wrapper .box-item .text span {
  color: rgba(70, 68, 65, 0.6);
  font-feature-settings: "salt" on;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
}

body {
  font-family: sans-serif;
}

.btn-round {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.16);
}

.close {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}
.close::before, .close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: rgba(255, 255, 255, 0.51);
}
.close::before {
  transform: rotate(0deg);
}
.close::after {
  transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
